body {
  justify-content: center;
}
.text {
  color: crimson;
  text-align: center;
  align-items: center;
}

table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid;
}

.row {
  color: forestgreen;
  text-align: center;
  align-items: center;
  border: 2px;
}
